body{
    background-color: beige;
}
.screen{
    width: 50vw;
    margin: auto;
    margin-top: 1rem;
    height: 550px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: rgb(224, 224, 213) 0 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.screen::-webkit-scrollbar{
    display: none;
}
.Rmessage{
    /* border: 2px solid black; */
    color: white;
    background-color: #fa3c4c;
    width: fit-content;
    max-width: 50%;
    border-radius: 10px;
    padding: 1px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    overflow-wrap: break-word;
}
.Smessage{
    color: white;
    background-color: #7646ff;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 10px;
    padding: 1px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    overflow-wrap: break-word;
    max-width: 50%;

}
.send{
    margin: auto;
    margin-top: 10px;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
input{
    width: 90%;
    border:  1px solid rgb(116, 111, 111);
    box-shadow: rgb(224, 224, 213) 0 5px 10px;
    padding-left: 10px;
}
h3{
    color: wheat;
    font-size: .8rem;
    margin-bottom: 1px;
}
p{
    padding: 0;
    margin-bottom: 1px;
}
i:hover{
    cursor: pointer;
    color: brown;
    transition: all 100ms;
}
@media (max-width: 700px) {
    .screen,.send{
        width: 95vw;
    }
}